.layout-box{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.top-bar{
    width: 100%;
    height: 68px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 24px;
    
}
.page-content{
    flex-grow: 1;
    overflow-y: scroll;

}
